@import 'main.css';

@media (max-width: 800px) { /* small screens */
    #app2 {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
        gap: 40px;
        margin: 20px 10%;
    }
}
@media (min-width: 801px)  and (max-width: 1299px) { /* medium screens */
    #container {
        display: flex;
        flex-direction: column;
        margin: 20px 10%;
    }
    #app img {
        display: none;
    }
    .buttons {
        grid-template-columns: 60% 40%;
    }
    #app2 {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 40px;
        margin: 20px 10%;
    }
}
@media (min-width: 1300px) { /* large screens */
    #container {
        display: grid;
        grid-template-columns: 50% 50%;
        margin: 30px 15%;
    }
    .buttons {
        grid-template-columns: 70% 30%;
    }
    #app2 {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 40px;
        margin: 20px 10%;
    }
}

#container {
    align-content: center;
    box-shadow: -5px 5px 20px 10px #dbdbdb;
    border-radius: 5px;
    height: 100%;
    justify-content: center;
}
#app, 
#app1 {
    border-radius: 5px;
    height: 100%;
}
#app img {
    border-radius: 5px 0 0 5px;
    height: 100%;
    opacity: .8;
    width: 100%;
}

/* app 1 */
#app1 {
    height: 100%;
    padding: 0 40px;
    text-align: center;
}
.holder {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 20px;
    padding-top: 20px;
}
.buttons {
    display: grid;
    gap: 0 10px;
    width: 100%;
}
.buttons button {
    display: flex;
}

/* app 2 */
#app2 {
    align-content: center;
    display: grid;
}
.appContent {
    box-shadow: -5px 5px 20px 10px #dbdbdb;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 100%;
}
#app2 .holder {
    display: flex;
    flex-direction: row;
    justify-content: left;
}
#btns {
    display: flex;
    flex-direction: row;
    gap: 0 5px;
}
#delete,
#edit {
    background-color: #d7d7d7;
    border: 0 none;
    border-radius: 5px;
    padding: 5px;
    width: 100%;
}
#delete:hover {
    background-color: #b83f35;
}
#edit:hover {
    background-color: #5d92c0;
}
.holder svg {
    padding: 10px;
}
#app2 .hostingInfo,
#app2 .flightInfo,
#app2 .notes {
    align-items: center;
    text-align: justify;
}
